# Corpora

In [196]:
# Install dependencies
!pip install fuzzywuzzy pandas ftfy -q
try:
    import lltk
except ImportError:
    !pip install git+https://github.com/literarylab/lltk

In [202]:
# Import
import lltk,os,pandas as pd
import warnings
warnings.filterwarnings('ignore')
from ftfy import fix_text

In [203]:
# Download metadata if need be
!lltk download semantic_cohort metadata
!lltk download semantic_cohort data  # this has manual match data already done
!lltk download litlab metadata

>> downloading: _tmp_semantic_cohort_metadata.zip
https://www.dropbox.com/s/f6imhtfzgpf7tvz/semantic_cohort_metadata.zip?dl=1: 107kb [00:01, 81.4kb/s]

>> unzipping: _tmp_semantic_cohort_metadata.zip
100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 2557.50it/s]

>> downloading: _tmp_semantic_cohort_data.zip
https://www.dropbox.com/s/tnqna3bdsiovtnt/semantic_cohort_data.zip?dl=1: 1.68Mb [00:01, 1.14Mb/s]

>> unzipping: _tmp_semantic_cohort_data.zip
100%|██████████████████████████████████████████| 9/9 [00:00<00:00, 17839.67it/s]

>> downloading: _tmp_litlab_metadata.zip
https://www.dropbox.com/s/ruur7jrckhm8nqz/litlab_metadata.zip?dl=1: 569kb [00:01, 439kb/s]

>> unzipping: _tmp_litlab_metadata.zip
100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 5440.08it/s]

In [204]:
# Check metadata
sc = lltk.load('SemanticCohort')
sc.metadata

,id,year,author,title,freq_absval,freq_hardseed,z_absval,z_hardseed,q_absval,q_hardseed,corpus,_lltk_,genre
0,SC0001,1785,"Bennett, Agnes Maria",Anna or memoirs of a Welch heiress Intersperse...,1.27%,2.74%,2.49,-1.39,Q4,Q1,SemanticCohort,semantic_cohort|SC0001,
1,SC0002,1785,"Blower, Elizabeth",Maria a novel In two volumes By the author of ...,1.10%,3.23%,1.81,-1.00,Q4,Q1,SemanticCohort,semantic_cohort|SC0002,
2,SC0003,1785,"Boys, S. Mrs",The coalition or family anecdotes A novel By M...,1.18%,1.77%,2.10,-2.14,Q4,Q1,SemanticCohort,semantic_cohort|SC0003,
3,SC0004,1785,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.85%,3.43%,0.77,-0.85,Q4,Q1,SemanticCohort,semantic_cohort|SC0004,
4,SC0005,1785,Mathews Charles Mrs,Constance a novel The first literary attempt o...,0.53%,2.57%,-0.56,-1.52,Q2,Q1,SemanticCohort,semantic_cohort|SC0005,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,SC2954,1895,Unknown,Jack Westropp an autobiography,0.71%,3.50%,0.17,-0.79,Q3,Q1,SemanticCohort,semantic_cohort|SC2954,
2954,SC2955,1895,"Vane, Capel",The desire of the moth,0.54%,7.55%,-0.53,2.36,Q2,Q4,SemanticCohort,semantic_cohort|SC2955,
2955,SC2956,1895,"Ward, Humphry, Mrs.",The Story of Bessie Costrell By Mrs Humphry Wa...,0.39%,8.61%,-1.15,3.19,Q1,Q4,SemanticCohort,semantic_cohort|SC2956,
2956,SC2957,1895,"Wells, H. G. (Herbert George)",The Time Machine An Invention By H G Wells,0.27%,7.88%,-1.64,2.62,Q1,Q4,SemanticCohort,semantic_cohort|SC2957,
2957,SC2958,1895,Wilkins W H William Henry 1860 1905,The holy estate a study in morals,0.47%,6.69%,-0.82,1.68,Q1,Q4,SemanticCohort,semantic_cohort|SC2958,

In [205]:
ll=lltk.load('LitLab')
ll.metadata

,Source,_llp_,_path,_path_author,author_dob,author_dod,author_first_name,author_gender,author_id,author_last_name,...,sheetname,source,title,title_full,truth_claim,vol_numbers,year,year_imprint,year_imprint:1791,_lltk_
0,,litlab|LL0001,/18C_Fiction/A._B.__noinfoavailable/The_pleasa...,/18C_Fiction/A._B.__noinfoavailable,,,,,,,...,corpus-metadata.LitLab.txt,,The pleasant tales of the wise men of Gotam [s...,,,,1795,,,litlab|LL0001
1,,litlab|LL0002,/18C_Fiction/A._F.__noinfoavailable/The_genera...,/18C_Fiction/A._F.__noinfoavailable,,,,,,,...,corpus-metadata.LitLab.txt,,"The general entertainer: or, a collection of n...",,,,1746,,,litlab|LL0002
2,,litlab|LL0003,"/18C_Fiction/Addison,_Joseph__done/Serino:_or,...","/18C_Fiction/Addison,_Joseph__done",1672.0,1719.0,,M,,,...,corpus-metadata.LitLab.txt,,"Serino: or, the character of a fine gentleman;...",,,,1723,,,litlab|LL0003
3,,litlab|LL0004,/18C_Fiction/Aesop__done/Fables_and_stories_mo...,/18C_Fiction/Aesop__done,c. 620 B.C.,c. 560 B.C.,,M,,,...,corpus-metadata.LitLab.txt,,Fables and stories moralized. Being a second p...,,,,1715,,,litlab|LL0004
4,,litlab|LL0005,"/18C_Fiction/Akerby,_George__done/Spiller&apos...","/18C_Fiction/Akerby,_George__done",,,,,,,...,corpus-metadata.LitLab.txt,,Spiller&apos;s jests: or the life and pleasant...,,,,1730,,,litlab|LL0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5406,,litlab|LL4037,"/19C_Fiction/Oliphant, Mrs. Margaret/Innocent ...","/19C_Fiction/Oliphant, Mrs. Margaret",1828.0,1897.0,,F,557.0,,...,corpus-metadata.LitLab.txt,,Innocent : a tale of modern life,,,,1873,,,litlab|LL4037
5407,,litlab|LL4038,"/19C_Fiction/Oliphant, Mrs. Margaret/John a lo...","/19C_Fiction/Oliphant, Mrs. Margaret",1828.0,1897.0,,F,557.0,,...,corpus-metadata.LitLab.txt,,"John, a love story",,,,1870,,,litlab|LL4038
5408,,litlab|LL4040,"/19C_Fiction/Oliphant, Mrs. Margaret/Lilliesle...","/19C_Fiction/Oliphant, Mrs. Margaret",1828.0,1897.0,,F,557.0,,...,corpus-metadata.LitLab.txt,,Lilliesleaf: being a concluding series of Pass...,,,,1855,,,litlab|LL4040
5409,,litlab|LL0686,"/18C_Fiction/Manley,_Delariviere_done/The_adve...","/18C_Fiction/Manley,_Delariviere_done",,1724.0,,,,,...,corpus-metadata.LitLab.txt,,"The adventures of Rivella; or, the history of ...",,,,1714,,,litlab|LL0686
5410,,litlab|LL2541,"/19C_Fiction/Dickens, Charles/Dombey and Son B...","/19C_Fiction/Dickens, Charles",1812.0,1870.0,,M,1265.0,,...,corpus-metadata.LitLab.txt,,Dombey and Son. By Charles Dickens. With Illus...,,,,1848,,,litlab|LL2541

## De-duplicating

In [206]:
fn_dedup = os.path.join(sc.path_data,f'matches.{sc.name}--{sc.name}.csv')
if not os.path.exists(fn_dedup):
    sc.match_records(sc,year_window=None)
    mdf_dedup = pd.read_csv(fn_dedup).sort_values('match_ratio',ascending=False).fillna('')
    mdf_dedup = mdf_dedup[mdf_dedup.id<mdf_dedup.id2].drop_duplicates(['id'],keep='first')
    mdf_dedup.to_csv(fn_dedup,index=False)
else:
    mdf_dedup=pd.read_csv(fn_dedup)
mdf_dedup

,id,id2,author,author2,title,title2,match_ratio,match_ratio_author,match_ismatch
0,SC0001,SC0010,"Bennett, Agnes Maria","Bennett, Agnes Maria",Anna or memoirs of a Welch heiress Intersperse...,Anna or memoirs of a Welch heiress intersperse...,100,100,NaN
1,SC0001,SC0176,"Bennett, Agnes Maria",Pye Henry James,Anna or memoirs of a Welch heiress Intersperse...,The democrat interspersed with anecdotes of we...,71,33,NaN
2,SC0001,SC0468,"Bennett, Agnes Maria",Opie Amelia Alderson 1769 1853,Anna or memoirs of a Welch heiress Intersperse...,New tales in four volumes,72,37,NaN
3,SC0001,SC0512,"Bennett, Agnes Maria",Moore Alicia Radford,Anna or memoirs of a Welch heiress Intersperse...,The sisters a novel in four volumes,71,32,NaN
4,SC0001,SC1760,"Bennett, Agnes Maria",Gifford George Mrs,Anna or memoirs of a Welch heiress Intersperse...,Trials of an heiress,70,33,NaN
...,...,...,...,...,...,...,...,...,...
28889,SC2913,SC2916,Meredith George 1828 1909,Murray David Christie 1847 1907,Lord Ormont and his Aminta a novel,A rising star a novel,71,41,NaN
28890,SC2913,SC2919,Meredith George 1828 1909,Norris W E William Edward 1847 1925,Lord Ormont and his Aminta a novel,Saint Ann s a novel,74,35,NaN
28891,SC2925,SC2955,"Scott, Walter, Sir","Vane, Capel",Anne of Geierstein or the maiden of the mist b...,The desire of the moth,73,30,NaN
28892,SC2933,SC2953,Thomas Annie 1838 1918,Strain E H Euphans H,No hero but a man a novel,A man s foes,75,43,NaN
28893,SC2943,SC2953,Dunham Emily J,Strain E H Euphans H,A woman s love lesson,A man s foes,75,29,NaN

### Manual intervention

In [207]:
fn_dedup_anno=fn_dedup.replace('.csv','.anno.csv')
if not os.path.exists(fn_dedup_anno): 
    mdf_dedup.to_csv(fn_dedup_anno,index=False)

In [208]:
# re-load
mdf_dedup = pd.read_csv(fn_dedup_anno).fillna('')
mdf_dedup

,id,id2,author,author2,title,title2,match_ratio,match_ratio_author,match_ismatch
0,SC0001,SC0010,"Bennett, Agnes Maria","Bennett, Agnes Maria",Anna or memoirs of a Welch heiress Intersperse...,Anna or memoirs of a Welch heiress intersperse...,100,100,y
1,SC1281,SC1596,"Strickland, Agnes","Oliphant, Mrs Margaret",The pilgrims of Walsingham or Tales of the mid...,Agnes,100,38,n
2,SC0042,SC0075,Goldsmith Oliver,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,The vicar of Wakefield a tale Supposed to be w...,100,100,y
3,SC0019,SC0097,Lee Sophia 1750 1824,Lee Sophia,The recess or A tale of other times,The recess or a tale of other times By the aut...,100,100,y
4,SC0477,SC2276,Unknown,Randolph Mrs,Dunsany An Irish story,Iris,100,29,n
...,...,...,...,...,...,...,...,...,...
2306,SC1506,SC2515,"Davies, Christiana Jane",Curtois Margaret Anne,The Browns and the Smiths : In two volumes,Tracked A story in two volumes,70,48,
2307,SC0575,SC1528,Scott Walter Sir 1771 1832,Stephenson Eliza Tabor,St Ronan s well,St Olave s,70,33,
2308,SC1789,SC2535,Caldbeck Mary Costello,Panton Jane Ellen,Sefton Hall A tale In two volumes By the late ...,A tangled chain in two volumes,70,36,
2309,SC1690,SC2109,Ouida 1839 1908,"Vereker, Charles Smyth",Under two flags a story of the household and t...,The child of the desert,70,29,
2310,SC1693,SC2495,"Robinson, Frederick William","Baring, Gould Sabine","Anne Judge, Spinster",Red spider,70,37,

In [209]:
df_dups=mdf_dedup[mdf_dedup.match_ismatch=='y']
df_dups

,id,id2,author,author2,title,title2,match_ratio,match_ratio_author,match_ismatch
0,SC0001,SC0010,"Bennett, Agnes Maria","Bennett, Agnes Maria",Anna or memoirs of a Welch heiress Intersperse...,Anna or memoirs of a Welch heiress intersperse...,100,100,y
2,SC0042,SC0075,Goldsmith Oliver,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,The vicar of Wakefield a tale Supposed to be w...,100,100,y
3,SC0019,SC0097,Lee Sophia 1750 1824,Lee Sophia,The recess or A tale of other times,The recess or a tale of other times By the aut...,100,100,y
5,SC1257,SC1258,Yonge Charlotte Mary 1823 1901,"Yonge, Charlotte Mary",The heir of Redclyffe,The Heir of Redclyffe By the Author of The Two...,100,100,y
6,SC0481,SC0496,"Hope, Thomas","Hope, Thomas","Anastasius, or Memoirs of a Greek; Written at ...","Anastasius, or Memoirs of a Greek",100,100,y
...,...,...,...,...,...,...,...,...,...
216,SC0114,SC0163,Cullen Stephen,Cullen Stephen,The haunted priory or the fortunes of the hous...,The haunted priory or The fortunes of the hous...,93,100,y
225,SC0378,SC0379,"Byron, Medora Gordon","Byron, Medora Gordon",The Englishman a novel In six volumes,The Englishwoman A novel,92,100,y
240,SC0078,SC0098,Parsons Mrs Eliza,Parsons Mrs Eliza,The errors of education In three volumes By Mr...,The errors of education In two volumes By Mrs ...,92,100,y
955,SC0957,SC2345,"Bray, Anna Eliza","Bray, Anna Eliza",Henry de Pomefrey or The eve of St John a lege...,Henry de Pomeroy or The eve of St John by Mrs ...,80,100,y
1382,SC0016,SC0294,Helme Elizabeth,"Helme, Elizabeth",Louisa or the cottage on the moor In two volumes,Louisa or The cottage on the moor By Elizabeth...,77,100,y

## Matching

### With "LitLab" corpus

In [210]:
match_fn = os.path.join(sc.path_data,'matches.SemanticCohort--LitLab.csv')
if not os.path.exists(match_fn):
    sc.match_records(ll,year_window=None)
    mdf=pd.read_csv(match_fn)
    mdf=mdf[mdf.match_ratio_author>=70]
    mdf=mdf.sort_values('match_ratio',ascending=False).fillna('').drop_duplicates(['id'],keep='first')
    mdf.to_csv(match_fn,index=False)
else:
    mdf=pd.read_csv(match_fn)
mdf

,id,id2,author,author2,title,title2,match_ratio,match_ratio_author,match_ismatch
0,SC0548,LL2822,Gaspey Thomas 1788 1871,"Gaspey, Thomas",Other times or the monks of Leadenhall,"Other times; or, the monks of Leadenhall",100,100,NaN
1,SC0704,LL2908,Gore Mrs Catherine Grace Frances 1799 1861,"Gore, Mrs. (Catherine Grace Frances)",The manners of the day,The manners of the day,100,100,NaN
2,SC0718,LL2914,Gore Mrs Catherine Grace Frances 1799 1861,"Gore, Mrs. (Catherine Grace Frances)",The Tuileries A tale,The Tuileries. A tale,100,100,NaN
3,SC1939,LL2931,Grant James 1822 1887,"Grant, James (1822)",Shall I win her The story of a wanderer,Shall I win her? The story of a wanderer,100,100,NaN
4,SC0717,LL2894,Gore Mrs Catherine Grace Frances 1799 1861,"Gore, Mrs. (Catherine Grace Frances)",Pin money a novel,Pin Money,100,100,NaN
...,...,...,...,...,...,...,...,...,...
2758,SC0885,LL1641,Unknown,An Unknown,The Glanville family,"Caprice; or, Anecdotes of the Listowel family....",70,100,NaN
2759,SC0142,LL2205,Schiller Friedrich,"Chamier, Frederick",The ghost seer or apparitionist An interesting...,The perils of beauty,70,76,NaN
2760,SC2069,LL1381,Unknown,Unknown,Spoken in anger a novel,The modern miniature. A novel. Vol. II.,70,100,NaN
2761,SC0090,LL1582,Young Mary Julia,Young lady,The family party In three volumes,"Laura and Augustus, an authentic story; in a s...",70,80,NaN
2762,SC1117,LL1168,Unknown,Unknown,Self dependance a novel,Memoirs of the ancient house of Clarendon. A n...,70,100,NaN

### Manual intervention

In [211]:
match_fn_anno=match_fn.replace('.csv','.anno.csv')
if not os.path.exists(match_fn_anno):
    mdf.to_csv(match_fn_anno,index=False)

In [212]:
mdf=pd.read_csv(match_fn_anno).query('match_ismatch == "y"')
mdf

,id,id2,author,author2,title,title2,match_ratio,match_ratio_author,match_ismatch
0,SC0548,LL2822,Gaspey Thomas 1788 1871,"Gaspey, Thomas",Other times or the monks of Leadenhall,"Other times; or, the monks of Leadenhall",100,100,y
1,SC0704,LL2908,Gore Mrs Catherine Grace Frances 1799 1861,"Gore, Mrs. (Catherine Grace Frances)",The manners of the day,The manners of the day,100,100,y
2,SC0718,LL2914,Gore Mrs Catherine Grace Frances 1799 1861,"Gore, Mrs. (Catherine Grace Frances)",The Tuileries A tale,The Tuileries. A tale,100,100,y
3,SC1939,LL2931,Grant James 1822 1887,"Grant, James (1822)",Shall I win her The story of a wanderer,Shall I win her? The story of a wanderer,100,100,y
4,SC0717,LL2894,Gore Mrs Catherine Grace Frances 1799 1861,"Gore, Mrs. (Catherine Grace Frances)",Pin money a novel,Pin Money,100,100,y
...,...,...,...,...,...,...,...,...,...
2701,SC0043,LL0436,Harley M Mrs,"Harley, M., Mrs.",Priory of St Bernard an old English tale in tw...,St. Bernard&apos;s priory. An old English tale...,84,100,y
2704,SC0116,LL2872,"Godwin, William","Godwin, William",Things as they are or the adventures of Caleb ...,"Things As They Are; or, The Adventure of Caleb...",82,100,y
2708,SC0072,LL1484,Unknown,Unknown,The maid of Kent,"The widow of Kent; or, the history of Mrs. Row...",81,100,y
2709,SC0728,LL4539,"Shelley, Mary Wollstonecraft","Shelley, Mary Wollstonecraft",Frankenstein Or The Modern Prometheus By the A...,Frankenstein; or The Modern Prometheus. In Thr...,81,100,y
2711,SC0592,LL3799,Maxwell W H William Hamilton 1792 1850,Maxwell William Hamilton (W.H.),O Hara,O'Hara;,80,85,y

## Missing?

In [213]:
missing = set(sc.metadata.id) - set(mdf.id) - set(df_dups.id)
len(missing)

246

In [214]:
sc.metadata[sc.metadata.id.isin(missing)]

,id,year,author,title,freq_absval,freq_hardseed,z_absval,z_hardseed,q_absval,q_hardseed,corpus,_lltk_,genre
7,SC0008,1786,"Beckford, William",An Arabian tale from an unpublished manuscript...,0.48%,3.33%,-0.77,-0.93,Q1,Q1,SemanticCohort,semantic_cohort|SC0008,
9,SC0010,1786,"Bennett, Agnes Maria",Anna or memoirs of a Welch heiress intersperse...,1.24%,2.72%,2.37,-1.40,Q4,Q1,SemanticCohort,semantic_cohort|SC0010,
14,SC0015,1787,Fuller Miss Anne,Alan Fitz Osborne an historical tale By Miss F...,1.15%,2.72%,2.00,-1.40,Q4,Q1,SemanticCohort,semantic_cohort|SC0015,
23,SC0024,1788,Hawke of Towton Cassandra Hawke Baroness,Julia de Gramont By the Right Honorable Lady H...,1.68%,2.32%,4.17,-1.71,Q4,Q1,SemanticCohort,semantic_cohort|SC0024,
24,SC0025,1788,Helme Elizabeth,Clara and Emmeline or the maternal benediction...,0.97%,3.19%,1.24,-1.03,Q4,Q1,SemanticCohort,semantic_cohort|SC0025,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,SC2872,1893,Winter John Strange 1856 1911,The soul of the bishop a novel in two volumes,0.48%,5.55%,-0.77,0.80,Q1,Q4,SemanticCohort,semantic_cohort|SC2872,
2880,SC2881,1894,Caffyn Mannington Mrs,A yellow aster,0.54%,7.40%,-0.54,2.24,Q2,Q4,SemanticCohort,semantic_cohort|SC2881,
2913,SC2914,1894,Merriman Henry Seton 1862 1903,With edged tools,0.47%,5.92%,-0.80,1.09,Q1,Q4,SemanticCohort,semantic_cohort|SC2914,
2927,SC2928,1894,Spender John Kent Mrs 1835 1895,A modern Quixote,0.60%,4.02%,-0.29,-0.39,Q2,Q2,SemanticCohort,semantic_cohort|SC2928,
2953,SC2954,1895,Unknown,Jack Westropp an autobiography,0.71%,3.50%,0.17,-0.79,Q3,Q1,SemanticCohort,semantic_cohort|SC2954,

## Stitching together

In [215]:
scm_match = sc.metadata.merge(mdf[set(mdf.columns) - set(sc.metadata.columns) | {'id'}],on='id')
scm_match

,id,year,author,title,freq_absval,freq_hardseed,z_absval,z_hardseed,q_absval,q_hardseed,corpus,_lltk_,genre,match_ratio_author,id2,author2,title2,match_ismatch,match_ratio
0,SC0002,1785,"Blower, Elizabeth",Maria a novel In two volumes By the author of ...,1.10%,3.23%,1.81,-1.00,Q4,Q1,SemanticCohort,semantic_cohort|SC0002,,100,LL0104,"Blower, Elizabeth",Maria: a novel. In two volumes. By the author ...,y,100
1,SC0003,1785,"Boys, S. Mrs",The coalition or family anecdotes A novel By M...,1.18%,1.77%,2.10,-2.14,Q4,Q1,SemanticCohort,semantic_cohort|SC0003,,100,LL0115,"Boys, S., Mrs.",The coalition: or family anecdotes. A novel. B...,y,100
2,SC0004,1785,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.85%,3.43%,0.77,-0.85,Q4,Q1,SemanticCohort,semantic_cohort|SC0004,,100,LL0372,"Goldsmith, Oliver",The vicar of Wakefield: a tale. Supposed to be...,y,100
3,SC0005,1785,Mathews Charles Mrs,Constance a novel The first literary attempt o...,0.53%,2.57%,-0.56,-1.52,Q2,Q1,SemanticCohort,semantic_cohort|SC0005,,100,LL0713,"Mathews, Charles, Mrs.",Constance: a novel. The first literary attempt...,y,100
4,SC0006,1785,Unknown,The fatal marriage a novel In two volumes,0.89%,3.06%,0.92,-1.13,Q4,Q1,SemanticCohort,semantic_cohort|SC0006,,100,LL1272,Unknown,The fatal marriage: a novel. In two volumes. ...,y,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2700,SC2953,1895,Strain E H Euphans H,A man s foes,0.46%,5.02%,-0.83,0.39,Q1,Q3,SemanticCohort,semantic_cohort|SC2953,,100,LL4758,Strain E H Euphans H,A man's foes,y,91
2701,SC2955,1895,"Vane, Capel",The desire of the moth,0.54%,7.55%,-0.53,2.36,Q2,Q4,SemanticCohort,semantic_cohort|SC2955,,100,LL4940,"Vane, Capel",The desire of the moth,y,100
2702,SC2956,1895,"Ward, Humphry, Mrs.",The Story of Bessie Costrell By Mrs Humphry Wa...,0.39%,8.61%,-1.15,3.19,Q1,Q4,SemanticCohort,semantic_cohort|SC2956,,100,LL4993,"Ward, Humphry, Mrs.",The Story of Bessie Costrell. By Mrs. Humphry ...,y,99
2703,SC2957,1895,"Wells, H. G. (Herbert George)",The Time Machine An Invention By H G Wells,0.27%,7.88%,-1.64,2.62,Q1,Q4,SemanticCohort,semantic_cohort|SC2957,,100,LL5017,"Wells, H. G. (Herbert George)",The Time Machine: An Invention: By H. G. Wells,y,100
2704,SC2958,1895,Wilkins W H William Henry 1860 1905,The holy estate a study in morals,0.47%,6.69%,-0.82,1.68,Q1,Q4,SemanticCohort,semantic_cohort|SC2958,,81,LL5065,Wilkins William Henry,The holy estate : a study in morals,y,97

In [216]:
ll.metadata['id_ll']=ll.metadata['id']
scm_match['id_ll']=scm_match['id2']
scm_ll=scm_match.merge(ll.metadata,suffixes=['_orig',''],on='id_ll')
scm_ll

,id_orig,year_orig,author_orig,title_orig,freq_absval,freq_hardseed,z_absval,z_hardseed,q_absval,q_hardseed,...,sheetname,source,title,title_full,truth_claim,vol_numbers,year,year_imprint,year_imprint:1791,_lltk_
0,SC0002,1785,"Blower, Elizabeth",Maria a novel In two volumes By the author of ...,1.10%,3.23%,1.81,-1.00,Q4,Q1,...,corpus-metadata.LitLab.txt,,Maria: a novel. In two volumes. By the author ...,,0.0,,1785,,,litlab|LL0104
1,SC0003,1785,"Boys, S. Mrs",The coalition or family anecdotes A novel By M...,1.18%,1.77%,2.10,-2.14,Q4,Q1,...,corpus-metadata.LitLab.txt,,The coalition: or family anecdotes. A novel. B...,,0.0,,1785,,,litlab|LL0115
2,SC0004,1785,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.85%,3.43%,0.77,-0.85,Q4,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372
3,SC0042,1789,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.83%,3.46%,0.69,-0.83,Q4,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372
4,SC0075,1791,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.89%,3.29%,0.93,-0.96,Q4,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2700,SC2953,1895,Strain E H Euphans H,A man s foes,0.46%,5.02%,-0.83,0.39,Q1,Q3,...,corpus-metadata.LitLab.txt,,A man's foes,,,,1895,,,litlab|LL4758
2701,SC2955,1895,"Vane, Capel",The desire of the moth,0.54%,7.55%,-0.53,2.36,Q2,Q4,...,corpus-metadata.LitLab.txt,,The desire of the moth,,,,1895,,,litlab|LL4940
2702,SC2956,1895,"Ward, Humphry, Mrs.",The Story of Bessie Costrell By Mrs Humphry Wa...,0.39%,8.61%,-1.15,3.19,Q1,Q4,...,corpus-metadata.LitLab.txt,,The Story of Bessie Costrell. By Mrs. Humphry ...,,,,1895,,,litlab|LL4993
2703,SC2957,1895,"Wells, H. G. (Herbert George)",The Time Machine An Invention By H G Wells,0.27%,7.88%,-1.64,2.62,Q1,Q4,...,corpus-metadata.LitLab.txt,,The Time Machine: An Invention: By H. G. Wells,,,,1895,,,litlab|LL5017
2704,SC2958,1895,Wilkins W H William Henry 1860 1905,The holy estate a study in morals,0.47%,6.69%,-0.82,1.68,Q1,Q4,...,corpus-metadata.LitLab.txt,,The holy estate : a study in morals,,,,1895,,,litlab|LL5065

In [217]:
scm_ll_dedup = scm_ll[~scm_ll.id_orig.isin(df_dups.id)]
scm_ll_dedup

,id_orig,year_orig,author_orig,title_orig,freq_absval,freq_hardseed,z_absval,z_hardseed,q_absval,q_hardseed,...,sheetname,source,title,title_full,truth_claim,vol_numbers,year,year_imprint,year_imprint:1791,_lltk_
0,SC0002,1785,"Blower, Elizabeth",Maria a novel In two volumes By the author of ...,1.10%,3.23%,1.81,-1.00,Q4,Q1,...,corpus-metadata.LitLab.txt,,Maria: a novel. In two volumes. By the author ...,,0.0,,1785,,,litlab|LL0104
1,SC0003,1785,"Boys, S. Mrs",The coalition or family anecdotes A novel By M...,1.18%,1.77%,2.10,-2.14,Q4,Q1,...,corpus-metadata.LitLab.txt,,The coalition: or family anecdotes. A novel. B...,,0.0,,1785,,,litlab|LL0115
7,SC0237,1800,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.86%,3.34%,0.81,-0.92,Q4,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372
8,SC0005,1785,Mathews Charles Mrs,Constance a novel The first literary attempt o...,0.53%,2.57%,-0.56,-1.52,Q2,Q1,...,corpus-metadata.LitLab.txt,,Constance: a novel. The first literary attempt...,,0.0,,1785,,,litlab|LL0713
9,SC0006,1785,Unknown,The fatal marriage a novel In two volumes,0.89%,3.06%,0.92,-1.13,Q4,Q1,...,corpus-metadata.LitLab.txt,,The fatal marriage: a novel. In two volumes. ...,,0.0,,1785,,,litlab|LL1272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2700,SC2953,1895,Strain E H Euphans H,A man s foes,0.46%,5.02%,-0.83,0.39,Q1,Q3,...,corpus-metadata.LitLab.txt,,A man's foes,,,,1895,,,litlab|LL4758
2701,SC2955,1895,"Vane, Capel",The desire of the moth,0.54%,7.55%,-0.53,2.36,Q2,Q4,...,corpus-metadata.LitLab.txt,,The desire of the moth,,,,1895,,,litlab|LL4940
2702,SC2956,1895,"Ward, Humphry, Mrs.",The Story of Bessie Costrell By Mrs Humphry Wa...,0.39%,8.61%,-1.15,3.19,Q1,Q4,...,corpus-metadata.LitLab.txt,,The Story of Bessie Costrell. By Mrs. Humphry ...,,,,1895,,,litlab|LL4993
2703,SC2957,1895,"Wells, H. G. (Herbert George)",The Time Machine An Invention By H G Wells,0.27%,7.88%,-1.64,2.62,Q1,Q4,...,corpus-metadata.LitLab.txt,,The Time Machine: An Invention: By H. G. Wells,,,,1895,,,litlab|LL5017
2704,SC2958,1895,Wilkins W H William Henry 1860 1905,The holy estate a study in morals,0.47%,6.69%,-0.82,1.68,Q1,Q4,...,corpus-metadata.LitLab.txt,,The holy estate : a study in morals,,,,1895,,,litlab|LL5065

In [218]:
scm_ll[scm_ll.title.str.contains('Wakefield')]

,id_orig,year_orig,author_orig,title_orig,freq_absval,freq_hardseed,z_absval,z_hardseed,q_absval,q_hardseed,...,sheetname,source,title,title_full,truth_claim,vol_numbers,year,year_imprint,year_imprint:1791,_lltk_
2,SC0004,1785,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.85%,3.43%,0.77,-0.85,Q4,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372
3,SC0042,1789,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.83%,3.46%,0.69,-0.83,Q4,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372
4,SC0075,1791,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.89%,3.29%,0.93,-0.96,Q4,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372
5,SC0093,1792,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.75%,3.23%,0.35,-1.01,Q3,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372
6,SC0236,1800,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.81%,3.40%,0.61,-0.87,Q4,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372
7,SC0237,1800,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.86%,3.34%,0.81,-0.92,Q4,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372

In [219]:
scm_ll_dedup[scm_ll_dedup.title.str.contains('Wakefield')]

,id_orig,year_orig,author_orig,title_orig,freq_absval,freq_hardseed,z_absval,z_hardseed,q_absval,q_hardseed,...,sheetname,source,title,title_full,truth_claim,vol_numbers,year,year_imprint,year_imprint:1791,_lltk_
7,SC0237,1800,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,0.86%,3.34%,0.81,-0.92,Q4,Q1,...,corpus-metadata.LitLab.txt,,The vicar of Wakefield: a tale. Supposed to be...,,,,1766,,,litlab|LL0372

## Cleaning

In [222]:
newdf = scm_ll_dedup[
    [
        'id_orig',
        'year_orig',
        'year',
        'author_orig',
        'author',
        'title_orig',
        'title',
        'genre',
        'source',
    ]
]
newdf

,id_orig,year_orig,year,author_orig,author,title_orig,title,genre,source
0,SC0002,1785,1785,"Blower, Elizabeth","Blower, Elizabeth",Maria a novel In two volumes By the author of ...,Maria: a novel. In two volumes. By the author ...,,
1,SC0003,1785,1785,"Boys, S. Mrs","Boys, S., Mrs.",The coalition or family anecdotes A novel By M...,The coalition: or family anecdotes. A novel. B...,,
7,SC0237,1800,1766,Goldsmith Oliver,"Goldsmith, Oliver",The vicar of Wakefield a tale Supposed to be w...,The vicar of Wakefield: a tale. Supposed to be...,,
8,SC0005,1785,1785,Mathews Charles Mrs,"Mathews, Charles, Mrs.",Constance a novel The first literary attempt o...,Constance: a novel. The first literary attempt...,,
9,SC0006,1785,1785,Unknown,Unknown,The fatal marriage a novel In two volumes,The fatal marriage: a novel. In two volumes. ...,,
...,...,...,...,...,...,...,...,...,...
2700,SC2953,1895,1895,Strain E H Euphans H,Strain E H Euphans H,A man s foes,A man's foes,,
2701,SC2955,1895,1895,"Vane, Capel","Vane, Capel",The desire of the moth,The desire of the moth,,
2702,SC2956,1895,1895,"Ward, Humphry, Mrs.","Ward, Humphry, Mrs.",The Story of Bessie Costrell By Mrs Humphry Wa...,The Story of Bessie Costrell. By Mrs. Humphry ...,,
2703,SC2957,1895,1895,"Wells, H. G. (Herbert George)","Wells, H. G. (Herbert George)",The Time Machine An Invention By H G Wells,The Time Machine: An Invention: By H. G. Wells,,
2704,SC2958,1895,1895,Wilkins W H William Henry 1860 1905,Wilkins William Henry,The holy estate a study in morals,The holy estate : a study in morals,,

In [223]:
def shorten_title(
        title,
        prfxs=['St.','Mr.','Mrs.','Dr.','Rev.'],
        splits=[':',';',', or',', a ',', A ','/','.','[','(']):
    for x in prfxs:
        title=title.replace(x+' ', x[:-1]+' ')
    for x in splits:
        title=title.split(x)[0].strip()
    return title

In [224]:
newdf['title']=newdf['title'].apply(fix)
newdf['author']=newdf['author'].apply(fix)
newdf['source']=newdf['source'].apply(fix)

In [227]:
newdf['title_short']=newdf.title.apply(shorten_title)
newdf[['title','title_short']]

,title,title_short
0,Maria: a novel. In two volumes. By the author ...,Maria
1,The coalition: or family anecdotes. A novel. B...,The coalition
7,The vicar of Wakefield: a tale. Supposed to be...,The vicar of Wakefield
8,Constance: a novel. The first literary attempt...,Constance
9,The fatal marriage: a novel. In two volumes. ...,The fatal marriage
...,...,...
2700,A man's foes,A man's foes
2701,The desire of the moth,The desire of the moth
2702,The Story of Bessie Costrell. By Mrs. Humphry ...,The Story of Bessie Costrell
2703,The Time Machine: An Invention: By H. G. Wells,The Time Machine
2704,The holy estate : a study in morals,The holy estate

In [228]:
# finally -- save
newdf.to_csv('data/metadata.semantic-cohort-method.remastered.2020-12-09.csv',index=False)